<div class="mt-4 container">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 col-xl-3 ">
            <div class="card mt-4">
                <a href="/courses/{{this.slug}}"><img class="card-img-top" src="{{this.img}}" alt="Card image cap"></a>
                <div class="card-body">
                   <a href="/courses/{{this.slug}}"> <h5 class="card-title">{{this.name}}</h5></a>
                    <p class="card-text max-height">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Học ngay</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

