<div class="mt-4 container">
    <h3>khóa học đã xóa</h3>
    <a href="/me/store/courses">quay lại</a>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col">Chức năng</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td colspan="2">
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">khôi phục</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete-course-modal">xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">thùng rác chống <a href="/me/store/courses">quay lại</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- modal --}}
<div class="modal" tabindex="-1" role="dialog" id="delete-course-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn khóa học này?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-course">Xóa vĩnh viễn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var btnRestore = $('.btn-restore');


        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id')
        })

        
        btnDeleteCourse.onclick = function(){
             deleteForm.action ='/courses/'+ courseId + '/force?_method=DELETE';
             deleteForm.submit();   
        }
        
        btnRestore.click(function(e){
            e.preventDefault();
            var courseId = $(this).data('id');
            restoreForm.action ='/courses/'+ courseId + '/restore?_method=PATCH';
            restoreForm.submit(); 
        })
        
    });
</script>